#intro {
    padding: 100px 0;
  
  .block h2 {
    padding-top: 35px;
    line-height: 27px;
    margin: 0;
  }
  .block p {
    color: #7B7B7B;
    padding-top: 20px;
  }
  .block img {
    padding-left: 40px;
    width: 100%;
  }
  .section-title {
    margin-bottom: 0px;
  }
  .section-title p {
    padding-top: 20px;
  }
}